body{
  background-color: #f9c5c8;
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  text-align: center;
}

.slide {
  align-items: center;
  display: none;
}
.container {
  text-align: center;
}
img {
  width: 70%;
  text-align: center;
}

.fade {
  animation: fade 1.5s ease-in-out infinite;
}

@keyframes fade {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}
